<a href="https://colab.research.google.com/github/mbyanfei/Google-Colab/blob/master/SQL_on_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Practical SQL for Data Analysis**
### What you can do *together with* Pandas

In [3]:
!pip install --quiet duckdb

     |████████████████████████████████| 13.9 MB 3.9 MB/s

In [4]:
import pandas as pd
import numpy as np

import sqlite3
import duckdb
import time

**Preparation**

Download the data and set up the Pandas data frames. We read the data into a Pandas DataFrame using DuckDB's built-in Parquet reader.

In [7]:
!wget -q https://github.com/cwida/duckdb-data/releases/download/v1.0/lineitemsf1.snappy.parquet

In [8]:
!wget -q https://github.com/cwida/duckdb-data/releases/download/v1.0/orders.parquet

In [5]:
!pwd

/content

In [6]:
!ls -hlt

total 4.0K
drwxr-xr-x 1 root root 4.0K Jun  1 13:50 sample_data

In [9]:
lineitem = duckdb.query("SELECT * FROM 'lineitemsf1.snappy.parquet'").to_df()
orders = duckdb.query("SELECT * FROM 'orders.parquet'").to_df()

In [10]:
lineitem.shape

(6001215, 16)

In [11]:
orders.shape

(1500000, 9)

In [12]:
con = duckdb.connect()
con.execute('PRAGMA threads=2')

In [13]:
def timeit(fun, name):
	import time
	start_time = time.monotonic()
	fun()
	return [name, time.monotonic() - start_time]

def plot_results(results, title):
  df = pd.DataFrame.from_dict({
      'name': [x[0] for x in results],
      'time': [x[1] for x in results]
  })
  print(title)
  print(df)

**Ungrouped Aggregates**

This performs a simple set of ungrouped aggregates (sum, min, max, avg) over a column without any filters or other complex operations.

In [14]:
ungrouped_aggregate = '''
    SELECT SUM(l_extendedprice), MIN(l_extendedprice), MAX(l_extendedprice), AVG(l_extendedprice) FROM lineitem
'''

def duckdb_ungrouped_aggregate(d_con):
	print(d_con.query(ungrouped_aggregate).to_df())

def duckdb_ungrouped_aggregate_1t():
	duckdb_ungrouped_aggregate(duckdb)

def duckdb_ungrouped_aggregate_2t():
	duckdb_ungrouped_aggregate(con)

def pandas_ungrouped_aggregate():
  # result = lineitem.groupby(
  #   ['l_returnflag', 'l_linestatus']
  # ).agg(
  #   Sum=('l_extendedprice', 'sum'),
  #   Min=('l_extendedprice', 'min'),
  #   Max=('l_extendedprice', 'max'),
  #   Avg=('l_extendedprice', 'mean')
  # )
  result = lineitem.agg(
    Sum=('l_extendedprice', 'sum'),
    Min=('l_extendedprice', 'min'),
    Max=('l_extendedprice', 'max'),
    Avg=('l_extendedprice', 'mean')
  )
  print(result)
	# print(lineitem.agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean')))

ua_results = []
ua_results.append(timeit(duckdb_ungrouped_aggregate_1t, 'DuckDB (1T)'))
ua_results.append(timeit(duckdb_ungrouped_aggregate_2t, 'DuckDB (2T)'))
ua_results.append(timeit(pandas_ungrouped_aggregate, 'Pandas'))
plot_results(ua_results, 'Ungrouped Aggregate')

   sum(l_extendedprice)  min(l_extendedprice)  max(l_extendedprice)  \
0          2.295773e+11                 901.0              104949.5

   avg(l_extendedprice)
0          38255.138485
   sum(l_extendedprice)  min(l_extendedprice)  max(l_extendedprice)  \
0          2.295773e+11                 901.0              104949.5

   avg(l_extendedprice)
0          38255.138485
     l_extendedprice
Sum     2.295773e+11
Min     9.010000e+02
Max     1.049495e+05
Avg     3.825514e+04
Ungrouped Aggregate
          name      time
0  DuckDB (1T)  0.130607
1  DuckDB (2T)  0.106756
2       Pandas  0.050860

**Grouped Aggregates**

This performs the same set of aggregates, but this time grouped by two other columns (*l_returnflag* and *l_linestatus*).

In [15]:
grouped_aggregate = '''
SELECT l_returnflag,
       l_linestatus,
       SUM(l_extendedprice),
       MIN(l_extendedprice),
       MAX(l_extendedprice),
       AVG(l_extendedprice)
FROM lineitem
GROUP BY l_returnflag,
         l_linestatus
'''

def duckdb_grouped_aggregate(d_con):
	print(d_con.query(grouped_aggregate).to_df())

def duckdb_grouped_aggregate_1t():
	duckdb_grouped_aggregate(duckdb)

def duckdb_grouped_aggregate_2t():
	duckdb_grouped_aggregate(con)

def pandas_grouped_aggregate():
	print(lineitem.groupby(['l_returnflag', 'l_linestatus']).agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean')))

results = []
results.append(timeit(duckdb_grouped_aggregate_1t, 'DuckDB (1T)'))
results.append(timeit(duckdb_grouped_aggregate_2t, 'DuckDB (2T)'))
results.append(timeit(pandas_grouped_aggregate, 'Pandas'))
plot_results(results, 'Grouped Aggregate')

  l_returnflag l_linestatus  sum(l_extendedprice)  min(l_extendedprice)  \
0            N            O          1.149352e+11                 901.0
1            R            F          5.656804e+10                 904.0
2            A            F          5.658655e+10                 904.0
3            N            F          1.487505e+09                 920.0

   max(l_extendedprice)  avg(l_extendedprice)
0              104749.5          38248.015609
1              104899.5          38250.854626
2              104949.5          38273.129735
3              104049.5          38284.467761
  l_returnflag l_linestatus  sum(l_extendedprice)  min(l_extendedprice)  \
0            N            O          1.149352e+11                 901.0
1            A            F          5.658655e+10                 904.0
2            R            F          5.656804e+10                 904.0
3            N            F          1.487505e+09                 920.0

   max(l_extendedprice)  avg(l_extendedprice)
0              104749.5          38248.015609
1              104949.5          38273.129735
2              104899.5          38250.854626
3              104049.5          38284.467761
                                    Sum    Min       Max           Avg
l_returnflag l_linestatus
A            F             5.658655e+10  904.0  104949.5  38273.129735
N            F             1.487505e+09  920.0  104049.5  38284.467761
             O             1.149352e+11  901.0  104749.5  38248.015609
R            F             5.656804e+10  904.0  104899.5  38250.854626
Grouped Aggregate
          name      time
0  DuckDB (1T)  0.427259
1  DuckDB (2T)  0.424506
2       Pandas  0.883554

**Grouped Aggregate with a Filter**

This benchmark performs a grouped aggregate with a filter over the shipdate column.

As Pandas does not perform any projection pushdown, we include a version where we manually perform the projection pushdown by filtering only the columns we actually need before running the filter and aggregate.

This optimization is performed automatically in DuckDB by the query optimizer.

In [16]:
def duckdb_grouped_aggregate_filter(d_con):
	print(d_con.query('''
SELECT l_returnflag,
       l_linestatus,
       SUM(l_extendedprice),
       MIN(l_extendedprice),
       MAX(l_extendedprice),
       AVG(l_extendedprice)
FROM lineitem
WHERE
    l_shipdate <= DATE '1998-09-02'
GROUP BY l_returnflag,
         l_linestatus
''').to_df())

def duckdb_grouped_aggregate_filter_1t():
	duckdb_grouped_aggregate_filter(duckdb)

def duckdb_grouped_aggregate_filter_2t():
	duckdb_grouped_aggregate_filter(con)

def pandas_grouped_aggregate_filter():
  filtered_df = lineitem[lineitem['l_shipdate'] < "1998-09-02"]
  print(filtered_df.groupby(['l_returnflag', 'l_linestatus']).agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean')))

def pandas_grouped_aggregate_filter_projection_pushdown():
  pushed_down_df = lineitem[['l_shipdate', 'l_returnflag', 'l_linestatus', 'l_extendedprice']]
  filtered_df = pushed_down_df[pushed_down_df['l_shipdate'] < "1998-09-02"]
  print(filtered_df.groupby(['l_returnflag', 'l_linestatus']).agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean')))

results = []
results.append(timeit(duckdb_grouped_aggregate_filter_1t, 'DuckDB (1T)'))
results.append(timeit(duckdb_grouped_aggregate_filter_2t, 'DuckDB (2T)'))
results.append(timeit(pandas_grouped_aggregate_filter, 'Pandas'))
results.append(timeit(pandas_grouped_aggregate_filter_projection_pushdown, 'Pandas (manual pushdown)'))
plot_results(results, 'Grouped Aggregate + Filter')

  l_returnflag l_linestatus  sum(l_extendedprice)  min(l_extendedprice)  \
0            N            O          1.117017e+11                 901.0
1            R            F          5.656804e+10                 904.0
2            A            F          5.658655e+10                 904.0
3            N            F          1.487505e+09                 920.0

   max(l_extendedprice)  avg(l_extendedprice)
0              104749.5          38249.117989
1              104899.5          38250.854626
2              104949.5          38273.129735
3              104049.5          38284.467761
  l_returnflag l_linestatus  sum(l_extendedprice)  min(l_extendedprice)  \
0            N            O          1.117017e+11                 901.0
1            R            F          5.656804e+10                 904.0
2            A            F          5.658655e+10                 904.0
3            N            F          1.487505e+09                 920.0

   max(l_extendedprice)  avg(l_extendedprice)
0              104749.5          38249.117989
1              104899.5          38250.854626
2              104949.5          38273.129735
3              104049.5          38284.467761
                                    Sum    Min       Max           Avg
l_returnflag l_linestatus
A            F             5.658655e+10  904.0  104949.5  38273.129735
N            F             1.487505e+09  920.0  104049.5  38284.467761
             O             1.116318e+11  901.0  104749.5  38249.322811
R            F             5.656804e+10  904.0  104899.5  38250.854626
                                    Sum    Min       Max           Avg
l_returnflag l_linestatus
A            F             5.658655e+10  904.0  104949.5  38273.129735
N            F             1.487505e+09  920.0  104049.5  38284.467761
             O             1.116318e+11  901.0  104749.5  38249.322811
R            F             5.656804e+10  904.0  104899.5  38250.854626
Grouped Aggregate + Filter
                       name      time
0               DuckDB (1T)  0.556843
1               DuckDB (2T)  0.558208
2                    Pandas  2.711527
3  Pandas (manual pushdown)  2.887870

**Grouped Aggregate with Join and Filter**

In this benchmark we expand on the previous benchmark by including a join and a filter on the joined-on table.

Note that the naive version in Pandas is extremely slow, as it performs a full join of the entire table including all the columns that are not used and all the rows that will be filtered out. For that reason we have included a separate benchmark in which we have manually optimized the Pandas code by pushing down the projections and the filters.

These optimizations are performed automatically in DuckDB by the query optimizer.

In [17]:

# projection & filter on lineitem table
lineitem_projected = lineitem[
  ['l_shipdate',
   'l_orderkey',
   'l_linestatus',
   'l_returnflag',
   'l_extendedprice']
]
lineitem_filtered = lineitem_projected[
  lineitem_projected['l_shipdate'] < "1998-09-02"]
# projection and filter on order table
orders_projected = orders[
  ['o_orderkey',
   'o_orderstatus']
]
orders_filtered = orders_projected[
  orders_projected['o_orderstatus'] == 'O']
# perform the join
merged = lineitem_filtered.merge(
  orders_filtered,
  left_on='l_orderkey',
  right_on='o_orderkey')
# perform the aggregate
result = merged.groupby(
  ['l_returnflag', 'l_linestatus']
).agg(
  Sum=('l_extendedprice', 'sum'),
  Min=('l_extendedprice', 'min'),
  Max=('l_extendedprice', 'max'),
  Avg=('l_extendedprice', 'mean')
)

In [18]:
result

                                    Sum    Min       Max           Avg
l_returnflag l_linestatus
N            O             1.080448e+11  901.0  104749.5  38250.662806

In [19]:
def duckdb_grouped_aggregate_filter_join(d_con):
	print(d_con.query('''
SELECT l_returnflag,
       l_linestatus,
       sum(l_extendedprice),
       min(l_extendedprice),
       max(l_extendedprice),
       avg(l_extendedprice)
FROM lineitem lineitem
JOIN orders orders ON (l_orderkey=o_orderkey)
WHERE l_shipdate <= DATE '1998-09-02'
  AND o_orderstatus='O'
GROUP BY l_returnflag,
         l_linestatus
''').to_df())

def duckdb_grouped_aggregate_filter_join_1t():
	duckdb_grouped_aggregate_filter_join(duckdb)

def duckdb_grouped_aggregate_filter_join_2t():
	duckdb_grouped_aggregate_filter_join(con)

def pandas_grouped_aggregate_filter_join():
	merged = lineitem.merge(orders, left_on='l_orderkey', right_on='o_orderkey')
	filtered_a = merged[merged['l_shipdate'] < "1998-09-02"]
	filtered_b = filtered_a[filtered_a['o_orderstatus'] == 'O']
	result = filtered_b.groupby(['l_returnflag', 'l_linestatus']).agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean'))
	print(result)

def pandas_grouped_aggregate_filter_join_manual_pushdown():
	lineitem_projected = lineitem[['l_shipdate', 'l_orderkey', 'l_linestatus', 'l_returnflag', 'l_extendedprice']]
	lineitem_filtered = lineitem_projected[lineitem_projected['l_shipdate'] < "1998-09-02"]
	orders_projected = orders[['o_orderkey', 'o_orderstatus']]
	orders_filtered = orders_projected[orders_projected['o_orderstatus'] == 'O']
	merged = lineitem_filtered.merge(orders_filtered, left_on='l_orderkey', right_on='o_orderkey')
	result = merged.groupby(['l_returnflag', 'l_linestatus']).agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean'))
	print(result)

results = []
results.append(timeit(duckdb_grouped_aggregate_filter_join_1t, 'DuckDB (1T)'))
results.append(timeit(duckdb_grouped_aggregate_filter_join_2t, 'DuckDB (2T)'))
results.append(timeit(pandas_grouped_aggregate_filter_join, 'Pandas'))
results.append(timeit(pandas_grouped_aggregate_filter_join_manual_pushdown, 'Pandas (manual pushdown)'))
plot_results(results, 'Grouped Aggregate Join')

  l_returnflag l_linestatus  sum(l_extendedprice)  min(l_extendedprice)  \
0            N            O          1.081147e+11                 901.0

   max(l_extendedprice)  avg(l_extendedprice)
0              104749.5          38250.450307
  l_returnflag l_linestatus  sum(l_extendedprice)  min(l_extendedprice)  \
0            N            O          1.081147e+11                 901.0

   max(l_extendedprice)  avg(l_extendedprice)
0              104749.5          38250.450307
                                    Sum    Min       Max           Avg
l_returnflag l_linestatus
N            O             1.080448e+11  901.0  104749.5  38250.662806
                                    Sum    Min       Max           Avg
l_returnflag l_linestatus
N            O             1.080448e+11  901.0  104749.5  38250.662806
Grouped Aggregate Join
                       name       time
0               DuckDB (1T)   0.642910
1               DuckDB (2T)   0.609778
2                    Pandas  13.387921
3  Pandas (manual pushdown)   3.861350

# Appendix A: There and back again: Transferring data from Pandas to a SQL engine and back

As Appendix A relies on the presence of an external PostgreSQL database server, the code cannot be executed in colab. The source code can be found here: https://gist.github.com/hannesmuehleisen/a95a39a1eda63aeb0ca13fd82d1ba49c

# Appendix B: PandasSQL

Note: we cannot run this on the original dataset, as colab will run out of memory and crash. Instead for the benchmark we add a sample clause to reduce the data set size to 10% of the original data set size.

In [20]:
!pip install --quiet pandasql

  Building wheel for pandasql (setup.py) ... done

In [21]:
import pandasql as psql
pysqldf = lambda q: psql.sqldf(q, globals())

In [22]:
lineitem_sample = duckdb.query("SELECT * FROM 'lineitemsf1.snappy.parquet' USING SAMPLE 10%").to_df()

In [23]:
ungrouped_aggregate = '''
    SELECT SUM(l_extendedprice), MIN(l_extendedprice), MAX(l_extendedprice), AVG(l_extendedprice) FROM lineitem_sample
'''

def duckdb_ungrouped_aggregate(d_con):
	print(d_con.query(ungrouped_aggregate).to_df())

def duckdb_ungrouped_aggregate_1t():
	duckdb_ungrouped_aggregate(duckdb)

def duckdb_ungrouped_aggregate_2t():
	duckdb_ungrouped_aggregate(con)

def pandas_ungrouped_aggregate():
	print(lineitem_sample.agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean')))

def ungrouped_aggregate_pandasql():
  print(pysqldf(ungrouped_aggregate))

ua_results = []
ua_results.append(timeit(duckdb_ungrouped_aggregate_1t, 'DuckDB (1T)'))
ua_results.append(timeit(duckdb_ungrouped_aggregate_2t, 'DuckDB (2T)'))
ua_results.append(timeit(pandas_ungrouped_aggregate, 'Pandas'))
ua_results.append(timeit(ungrouped_aggregate_pandasql, 'PandaSQL'))
plot_results(ua_results, 'Ungrouped Aggregate')

   sum(l_extendedprice)  min(l_extendedprice)  max(l_extendedprice)  \
0          2.229998e+10                 904.0              104649.5

   avg(l_extendedprice)
0          38272.975745
   sum(l_extendedprice)  min(l_extendedprice)  max(l_extendedprice)  \
0          2.229998e+10                 904.0              104649.5

   avg(l_extendedprice)
0          38272.975745
     l_extendedprice
Sum     2.229998e+10
Min     9.040000e+02
Max     1.046495e+05
Avg     3.827298e+04
   SUM(l_extendedprice)  MIN(l_extendedprice)  MAX(l_extendedprice)  \
0          2.229998e+10                 904.0              104649.5

   AVG(l_extendedprice)
0          38272.975745
Ungrouped Aggregate
          name       time
0  DuckDB (1T)   0.018992
1  DuckDB (2T)   0.017719
2       Pandas   0.014001
3     PandaSQL  21.584441

# Appendix C: Directly querying Parquet files

In the benchmarks above, we fully read the parquet files into Pandas. However, DuckDB also has the capability of directly running queries on top of Parquet files. In this appendix, we show the performance of this compared to loading the file into Python first. 

You can even use the wildcard syntax to run queries on multiple Parquet files in the same folder and create a unified single-table view over them (as long as they have the same schema).

In [24]:
# need to install pyarrow for pandas parquet reading
!pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (6.0.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.21.6)

In [32]:
# set up the view
parquet_con = duckdb.connect()
parquet_con.execute("CREATE VIEW lineitem_parquet AS SELECT * FROM 'lineitemsf1.snappy.parquet'")
parquet_con.execute("CREATE VIEW orders_parquet AS SELECT * FROM 'orders.parquet'")

# Ungrouped Aggregate

In [30]:
ungrouped_aggregate = '''
    SELECT SUM(l_extendedprice), MIN(l_extendedprice), MAX(l_extendedprice), AVG(l_extendedprice) FROM lineitem_parquet
'''

def duckdb_parquet_query(d_con):
	print(d_con.query(ungrouped_aggregate).to_df())

def duckdb_ungrouped_parquet_1t():
  parquet_con.execute('PRAGMA threads=1')
  duckdb_ungrouped_aggregate(parquet_con)
 
def duckdb_ungrouped_parquet_2t():
  parquet_con.execute('PRAGMA threads=2')
  duckdb_ungrouped_aggregate(parquet_con)

def pandas_ungrouped_aggregate():
	print(lineitem.agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean')))

def pandas_ungrouped_aggregate_parquet_load():
  lineitem_pandas_parquet = pd.read_parquet('lineitemsf1.snappy.parquet')
  print(lineitem_pandas_parquet.agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean')))

def pandas_ungrouped_aggregate_parquet_load_pushdown():
  lineitem_pandas_parquet = pd.read_parquet('lineitemsf1.snappy.parquet', columns=['l_extendedprice'])
  print(lineitem_pandas_parquet.agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean')))

ua_results = []
ua_results.append(timeit(duckdb_ungrouped_parquet_1t, 'DuckDB (1 Thread)'))
ua_results.append(timeit(duckdb_ungrouped_parquet_2t, 'DuckDB (2 Threads)'))
ua_results.append(timeit(pandas_ungrouped_aggregate, 'Pandas'))
ua_results.append(timeit(pandas_ungrouped_aggregate_parquet_load, 'Pandas + Parquet Load'))
ua_results.append(timeit(pandas_ungrouped_aggregate_parquet_load_pushdown, 'Pandas + Parquet Load (Pushdown)'))
plot_results(ua_results, 'Ungrouped Aggregate (Parquet)')

   sum(l_extendedprice)  min(l_extendedprice)  max(l_extendedprice)  \
0          2.295773e+11                 901.0              104949.5

   avg(l_extendedprice)
0          38255.138485
   sum(l_extendedprice)  min(l_extendedprice)  max(l_extendedprice)  \
0          2.295773e+11                 901.0              104949.5

   avg(l_extendedprice)
0          38255.138485
     l_extendedprice
Sum     2.295773e+11
Min     9.010000e+02
Max     1.049495e+05
Avg     3.825514e+04
     l_extendedprice
Sum     2.295773e+11
Min     9.010000e+02
Max     1.049495e+05
Avg     3.825514e+04
     l_extendedprice
Sum     2.295773e+11
Min     9.010000e+02
Max     1.049495e+05
Avg     3.825514e+04
Ungrouped Aggregate (Parquet)
                               name      time
0                 DuckDB (1 Thread)  0.239711
1                DuckDB (2 Threads)  0.171998
2                            Pandas  0.041406
3             Pandas + Parquet Load  8.743973
4  Pandas + Parquet Load (Pushdown)  0.166520

# Grouped Aggregate with Join and Filter

In [33]:
def duckdb_grouped_aggregate_filter_join_pq(d_con):
	print(d_con.query('''
SELECT l_returnflag,
       l_linestatus,
       sum(l_extendedprice),
       min(l_extendedprice),
       max(l_extendedprice),
       avg(l_extendedprice)
FROM lineitem_parquet lineitem
JOIN orders_parquet orders ON (l_orderkey=o_orderkey)
WHERE l_shipdate <= DATE '1998-09-02'
  AND o_orderstatus='O'
GROUP BY l_returnflag,
         l_linestatus
''').to_df())

def duckdb_grouped_aggregate_filter_join_pq_1t():
  parquet_con.execute('PRAGMA threads=1')
  duckdb_grouped_aggregate_filter_join_pq(parquet_con)

def duckdb_grouped_aggregate_filter_join_pq_2t():
  parquet_con.execute('PRAGMA threads=2')
  duckdb_grouped_aggregate_filter_join_pq(parquet_con)

def pandas_grouped_aggregate_filter_join_pq():
  lineitem_pandas_parquet = pd.read_parquet('lineitemsf1.snappy.parquet')
  orders_pandas_parquet = pd.read_parquet('orders.parquet')
  merged = lineitem_pandas_parquet.merge(orders, left_on='l_orderkey', right_on='o_orderkey')
  filtered_a = merged[merged['l_shipdate'] < "1998-09-02"]
  filtered_b = filtered_a[filtered_a['o_orderstatus'] == 'O']
  result = filtered_b.groupby(['l_returnflag', 'l_linestatus']).agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean'))
  print(result)

def pandas_grouped_aggregate_filter_join_manual_pushdown_pq():
  lineitem_projected = pd.read_parquet('lineitemsf1.snappy.parquet', columns=['l_shipdate', 'l_orderkey', 'l_linestatus', 'l_returnflag', 'l_extendedprice'])
  orders_projected = pd.read_parquet('orders.parquet', columns=['o_orderkey', 'o_orderstatus'])
  lineitem_filtered = lineitem_projected[lineitem_projected['l_shipdate'] < "1998-09-02"]
  orders_filtered = orders_projected[orders_projected['o_orderstatus'] == 'O']
  merged = lineitem_filtered.merge(orders_filtered, left_on='l_orderkey', right_on='o_orderkey')
  result = merged.groupby(['l_returnflag', 'l_linestatus']).agg(Sum=('l_extendedprice', 'sum'), Min=('l_extendedprice', 'min'), Max=('l_extendedprice', 'max'), Avg=('l_extendedprice', 'mean'))
  print(result)

results = []
results.append(timeit(duckdb_grouped_aggregate_filter_join_pq_1t, 'DuckDB (1T)'))
results.append(timeit(duckdb_grouped_aggregate_filter_join_pq_2t, 'DuckDB (2T)'))
results.append(timeit(pandas_grouped_aggregate_filter_join_pq, 'Pandas'))
results.append(timeit(pandas_grouped_aggregate_filter_join_manual_pushdown_pq, 'Pandas (manual pushdown)'))
plot_results(results, 'Grouped Aggregate Join (Parquet)')

  l_returnflag l_linestatus  sum(l_extendedprice)  min(l_extendedprice)  \
0            N            O          1.081147e+11                 901.0

   max(l_extendedprice)  avg(l_extendedprice)
0              104749.5          38250.450307
  l_returnflag l_linestatus  sum(l_extendedprice)  min(l_extendedprice)  \
0            N            O          1.081147e+11                 901.0

   max(l_extendedprice)  avg(l_extendedprice)
0              104749.5          38250.450307
                                    Sum    Min       Max           Avg
l_returnflag l_linestatus
N            O             1.080448e+11  901.0  104749.5  38250.662806
                                    Sum    Min       Max           Avg
l_returnflag l_linestatus
N            O             1.080448e+11  901.0  104749.5  38250.662806
Grouped Aggregate Join (Parquet)
                       name       time
0               DuckDB (1T)   1.108135
1               DuckDB (2T)   0.906577
2                    Pandas  17.737057
3  Pandas (manual pushdown)   3.658200